<div class="ord-row clearfix">
	<div class="ord-info">
		<div class="ord-icon {{getIconClass(ordinance)}}">{{getIconType(ordinance)}}</div>
		<label>{{getLabel(ordinance)}}</label>
	</div>
	<div class="ord-details">
		<div class="ord-status">{{getStatus(ordinance)}}</div>
		<label class="ord-date">{{getDate(ordinance)}}</label>
		<label class="ord-place">{{getPlace(ordinance)}}</label>
	</div>
</div>