<li class="{{calcClass(person)}} person">
	<a href="" ng-class="{focused: person.id == root.id}" ng-show="person">{{person.name}}</a>
	<a href="" ng-show="!person || person.id === 'UNKNOWN'">{{addlink}}</a>
	<label>{{calcLabel(person)}}</label>
</li>