<div class="data-block" ng-class="{'fs-icon-website': source.sourceType === 'DEFAULT', 'fs-icon-logo': source.sourceType === 'FSREADONLY' }">
	<a href="" class="data-trigger">{{source.title}}</a>
	<div class="data-actions">
		<a href="">View</a>
		<span>|</span>
		<a href="">Edit</a>
		<span>|</span>
		<a href="">Detach</a>
		<span>|</span>
		<a href="">Report Abuse</a>
		<span>|</span>
		<a href="">Tag Event</a>
	</div>
</div>