<div class="pedigree-container" ng-mousedown="startDrag($event)" ng-mousemove="drag($event)">
	<div class="pedigree-offset">
		<div fs-bowtie data-bowtie="pedigree" data-root="person" data-x="0" data-y="0" data-showprimary="true" data-person="person"></div>
	</div>
</div>