a, a:hover, a:active {
	color: #0051c4;
}

.section-rounded {
	width: 820px;
	background: #fff;
	border: 1px solid #CACACA;
	margin: 15px 0 0 15px;
	border-radius: 12px;
	position: relative;
	color: #333331;
}

.section-rounded > h4 {
	font-size: 20px;
	line-height: 24px;
	margin: 10px;
}

.section-rounded > .section-toggle {
	position: absolute;
	right: 15px;
	top: 10px;
	font-size: 14px;
	line-height: 24px;
	color: #333331;
}

.section-rounded .section-content {
	padding: 10px;
	margin-top: -10px;
}

aside .box {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0,0,0,.65);
	width: 300px;
	margin: 15px 15px 15px 0;
	padding-bottom: 5px;
}

aside .box[data-title]:before {
	content: attr(data-title);
	display: block;
	color: #3B3A35;
	background: #DEDBD7;
	border-radius: 8px 8px 0 0;
	padding: 5px 15px;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}

aside .box > a {
	display: block;
	margin: 10px 10px 0 10px;
	padding: 3px 0 3px 35px;
	background-position: 0 center;
}

.sub-nav {
	background: #fff;
	border-bottom: 2px solid #ccc;
	border-top: 2px solid #ccc;
	margin: 0;
	padding: 0 0 0 20px;
	position: relative;
}

.sub-nav li {
	float: left;
	margin: 2px 3px;
}

.sub-nav li:hover a,
.sub-nav li.active a {
	background-color: #e1ecc3;
	border-color: #e1ecc3;
}

.sub-nav .nav {
	background-position: 7px center;
	border: solid 1px transparent;
	border-radius: 5px;
	color: #4C4C4A;
	display: inline-block;
	font-size: 14px;
	padding: 3px 7px 3px 33px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 24px;
	margin: 0;
	float: left;
}

.sub-nav .nav:hover {
	background-color: #F1F8E3;
}

.sub-nav .has-goto .nav {
	border-radius: 5px 0 0 5px;
}

.sub-nav .has-goto .goto-trigger {
	border: solid 1px transparent;
	border-radius: 0 5px 5px 0;
	display: inline-block;
	width: 22px;
	height: 30px;
	vertical-align: bottom;
	text-align: center;
	float: left;
	margin-left: 2px;
}

.sub-nav .has-goto .goto-trigger:hover {
	border-color: #e1ecc3;
	background-color: #F1F8E3;
}

.sub-nav .has-goto .goto-trigger:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #000;
	margin: 11px 0 5px 0;
}